body{
    color:brown;
    background-color: paleturquoise;
  }
  h1{
      text-decoration-line: underline;
      font-style: oblique;
  }
  p{
      font-size: 18px ;
      color:black;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* Global */
  .container{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul{
   color:black;
   font-family: 'Times New Roman', Times, serif;
   font-style: oblique;
  }
  
  /* Header **/
  header{
      background-color: peachpuff;height:150px;width: 2000px;
      color:rebeccapurple;
      padding: 20px 70px 5px -1px;
      margin: -7px;
      border-bottom-style: solid;
      border-color: peru;
      text-decoration-line: underline;
      background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQsKObQWC3PlzTk4thQ3Sgy1DAaj9y_B0I0A&usqp=CAU);
  }
  
  header a{ 
      font-weight: bold;
      color:wheat;
  }
  
  header li{
    font-size:18px ;

  }
  
  header #branding{
    font-weight: bold;
    text-align: center;
    font-weight: bold;
  }
  
  header #branding h1{
   color:blueviolet;
   font-variant: small-caps;
   text-indent: -2px;
  }
  
  header nav{
    text-transform: capitalize;
    
  }
  
  header .highlight, header .current a{
   color:mediumorchid;
  }
  
  header a:hover{
    color:olive;
  }
  
  footer{
    color:purple;
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
  }
