body{
    font-family: 'Times New Roman', Times, serif;
    padding:0;
    margin:0;
    background-color:darkgrey;
}

/* Global */
.container{
    width:90%;
    margin:auto;
}

ul{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.button_1{
    padding-top: 5px;
    color:black;
    background-color: royalblue;
    font-size: 18px;
}

.dark{
    padding-top:10px;
    min-height:80px;
    background-color:slateblue;
    text-indent: 10px;
    border-radius: 20px;
}

/* Header **/
header{
    background-color: gray;
    color:wheat;
    padding-top:30px;
    min-height:70px;
    border-bottom:yellowgreen 3px solid;
}

header a{
    color:skyblue;
    text-decoration:none;
    text-transform: uppercase;
    font-size:20px;
}

header li{
    float:left;
    display:inline;
    padding: 20px;
}

header #branding{
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:10px;
}

header .highlight, header .current a{
    color:greenyellow;
    font-weight:bold;
}

header a:hover{
    color:purple;
    font-weight: bold;
}

/* Showcase */
#showcase{
    background-image:url(/img/showcase.jpg);
    padding:120px;
}

#showcase h1{
    font-size:70px;
}

#showcase p{
    font-size:50px;
}

/* Newsletter */
#newsletter{
    padding-top: 20px 70px 10px 1px;
    margin: -7px; 
    background-color:slateblue;
    border-top-style: solid;
    color:orange;
    min-height: 120px;
}

#newsletter h1{
    color:plum;
    display: inline-block;
    padding: 20px;
}

#newsletter form {
    margin:auto;
    display: inline-block;
    float:right;
    padding: 40px;
}

#newsletter input[type="email"]{
    color: salmon;
    font-size: 18px;
}

/* Boxes */
#boxes{
  columns: 3;
  background-color: grey;
}

#boxes .box{
 font-size: 18px;
 color: teal;
}

#boxes .box img{
    padding: 20px;
}

footer{
    color:purple;
    background-color: antiquewhite;
    text-align: center;
    font-weight: bold;
}

